.site-nav {
  height: 100vh;
  border-right: 1px solid $border-color;

  .menu-content-container {
    height: 100%;
    margin-top: 1em;

    ul {
      list-style-type: none;
      float: right;
      padding-right: 4em;

      #nav-site-logo {
        width: 2em;
        margin-left: 1.1em;
      }

      li {
        color: #000;
        margin: 1.5em auto 2em auto;

        p {
          display: inline;
        }

        i {
          padding-right: 1em;
        }

        a {
          text-decoration: none;
          // display: block;
          width: 100%;
          color: #000;
          font-size: 1.2em;
          font-weight: 700;
          padding: 0.4em 1em;
          border-radius: 20px;

          &:hover {
            background: #ff797945;
            color: #ff7979;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1102px) {
  .site-nav {
    .menu-content-container {
      width: 80%;
      margin: 1em auto 0 auto;
      ul {
        padding-right: 0;

        h1 {
          margin-left: 0.6em;
        }

        li {
          p {
            display: none !important;
          }

          i {
            padding-right: 0;
          }
        }
      }
    }
  }
}
